.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}
/*
.wrapper column {
  display: flex;
}
*/
.wrapper photo {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.wrapper username {
  font-weight: 600;
  font-size: 15px;
}

.wrapper payload {
  margin: 10px 0px;
  font-size: 18px;
}

.wrapper delete_btn {
  background-color: tomato;
  color: white;
  font-weight: 600;
  border: 0;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}